/* div:nth-child(even) {
    background: rgb(175, 45, 45);
} */
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1.5em;
    font-size: 1.0em;
    text-align: justify;
    padding: 0px;
    margin: 0px;
}
#profile-photo {
    grid-area: profile-photo;
    display: block;
    width: 100%;
    background-color: #ddd;
}
#name {
    grid-area: profile-photo;
    align-self: end;
    background-color: rgba(100, 100, 100,0.9);
    font-family: 'Courier New', Courier, monospace;
    color: peru;
    font-weight: 900;
    font-size: 2em;
    padding: 10px;
    /* text-align: start; */
}
#role {
    grid-area: role;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ddd;
    /* margin: 0px; */
}
#tech-stack {
    grid-area: tech-stack;
    line-height: 2em;
    text-align: center;
    background-color: #ddd;
    /* margin: 0px; */
}
.ellipsis {
    font-size: 2em;
    align-self: center;
    padding: 0px 10px;
}
#role-title {
    font-style: italic;
}
.tech-item:nth-child(odd) {
    background-color: coral;
    border-radius: 1em;
    padding: 5px;
    /* margin: 0.5em 0em; */
}
.tech-item:nth-child(even) {
    background-color: darkgoldenrod;
    border-radius: 1em;
    padding: 5px;
    /* margin: 2em 0em; */
}
#nav-bar {
    grid-area: nav-bar;
    position:-webkit-sticky;
    position: sticky;
    top: 0px;
    /* height: 1.5em; */
    background-color: #ddd;
    padding: 0px 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}
#nav-bar > a {
    display:block;
    text-decoration: none;
    color: black;
    padding: 10px;
    /* border-left: 2px solid black; */
    text-align: center;
    /* background-color: red; */
}
#nav-bar > a:hover {
    background-color: blue;
}
#about {
    grid-area: about;
}
#skills {
    grid-area: skills;
}
#projects {
    grid-area: projects;
}
#contact {
    grid-area: contact;
}
#footer {
    grid-area: footer;
    text-align: center;
    background-color: #ddd;
    display: block;
    /* position: fixed; */
    /* bottom: 0px; */
    /* width: 100%; */
}
#container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        'profile-photo profile-photo'
        'role role'
        'tech-stack tech-stack'
        'nav-bar nav-bar'
        'about about'
        'skills skills'
        'projects projects'
        'contact contact'
        'footer footer';
    /* width: 100vw; */
    /* max-width: 500px; */
    /* padding: 10px; */
    margin: auto;
}
#skills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 0.3em;
}
#skills > h2 {
    grid-column: 1/4;
    padding: 0px 0px;
}
#skills > h3 {
    grid-column: 1/4;
    padding: 0px 10px;
    background-color: lightslategrey
}
#skills > span:nth-child(even) {
    background-color: #ddd;
    padding:5px;
    text-align: center;
}
#skills > span:nth-child(odd) {
    background-color: #eee;
    padding:5px;
    text-align: center;
}
#contact,#skills,#about,#projects {
    margin-bottom: 1em;
    
}
h2 {
    text-align: center;
}
/* footer {
    text-align: center;
    background-color: #ddd;
  padding: 10px 0px;
    display: block; 
} */
form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 4fr 1fr;
    margin: auto;
    width: 90%;
    grid-gap: 0.2em;
    /* display: flex;
    flex-direction: column; */
    /* justify-content: right;
    align-items: right; */
    /* height: 40vh; */
}
/* .form-elem {
    height: 1.2em;
    width: 90%;
} */
/* #form-message {
    height: 15vh;
} */
#submit-button {
    width: 5em;
    height: auto;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5%;
    border: 2px solid #ddd;
    background-color: #ddd;
    justify-self: center;
}

.pad-content {
    padding: 0px 10px;
}

@media (min-width: 600px) {
    #container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        /* grid-template-rows: auto; */
        grid-template-areas:
        'nav-bar nav-bar nav-bar'
            'profile-photo profile-photo about'
            'profile-photo profile-photo about'
            'profile-photo profile-photo about'
            'tech-stack tech-stack about'
            'projects projects skills'
            'contact contact skills'
            'footer footer footer';
        /* width: 100vw; */
        /* max-width: 500px; */
        /* padding: 10px; */
        margin: auto;
    }
    #name {
        /* grid-area: profile-photo; */
        grid-column: 1/3;
        grid-row: 3/4;
        align-self: end;
        background-color: rgba(100, 100, 100,0.9);
        font-family: 'Courier New', Courier, monospace;
        color: peru;
        font-weight: 900;
        font-size: 2em;
        /* padding: 10px; */
        /* text-align: start; */
    }
    
    #role {
        grid-column: 1/3;
        grid-row: 4/5;
        /* grid-area: profile-photo; */
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgba(100, 100, 100,0.9);
        /* justify-self: start; */
        /* padding: 10px; */
        /* align-self: end; */
        /* width:100%; */
        /* align-self: end; */
        /* margin: 0px; */
    }
    #tech-stack {
        /* grid-area: profile-photo; */
        /* line-height: 1em; */
        /* text-align: center; */
        background-color: rgba(100, 100, 100,0);
        /* justify-self: center; */
        /* align-self: end; */
        /* display:flex;
        flex-direction: column; */
        /* margin: 0px; */
    }

}